# Logs and databases #
######################
*.sqlite
*.cache

# Files that may be changed by the user on per site basis #
###########################################################
index.php
site/config.php

