/** 
 * Description: Core theme for Lydia
 */

/**
 * Structure
 */
html{}
body{
  background-color:#eee;
	font: 1em Verdana, Arial, Helvetica, sans-serif;
}

#header,
#main,
#footer {
  margin:0 auto;
  width:970px;
  background-color:#fff;
  padding: 1em;
}
